       h1 {
    margin-left: 600px;
}

li {
        font-family: sans-serif;
}

.box-1 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-2 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-3 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-4 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-5 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-6 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-7 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-8 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-9 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-10 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-11 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-12 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-13 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-14 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-15 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-16 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-17 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-18 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-19 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-20 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-21 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-22 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-23 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-24 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-25 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-26 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-27 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-28 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-29 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-30 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-31 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-32 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-33 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-34 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-35 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-36 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-37 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-38 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-39 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-40 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-41 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-42 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-43 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-44 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-45 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-46 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-47 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-48 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-49 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-50 {
     position: absolute;
    top: 50px;
    left: 1000px;
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-51 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}

.box-52 {
    border-style: solid;
    border-color: #00cec9;
    border-radius: 4px;
}
